name: no-time-to-explain

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        ARTIFACT: ${ARTIFACT}
    restart: unless-stopped
    ports:
      - 3502:3000
    environment:
      SENTRY_ENVIRONMENT: "prod"
      SENTRY_DSN: "https://7fd4c058e6685608ada24d63281f6d59@o55858.ingest.us.sentry.io/4507279390539776"
      CMD_TZ: "EDT"
      PORT: "3000"
      URL: "https://no-time-to-explain.taiidani.com"
      DB_TYPE: "postgres"
      REDIS_HOST: redis.no-time-to-explain_default
      REDIS_PORT: "6379"
      DATABASE_URL: "${DATABASE_URL}"
      DISCORD_TOKEN: "${DISCORD_TOKEN}"
      DISCORD_CLIENT_ID: "${DISCORD_CLIENT_ID}"
      DISCORD_CLIENT_SECRET: "${DISCORD_CLIENT_SECRET}"
      BUNGIE_API_KEY: "${BUNGIE_API_KEY}"

      # no-time-to-explain: https://discord.com/channels/372591705754566656/1341142254902837380
      # bot-stuff: https://discord.com/channels/570720951373922304/651857324658524181
      # destiny-tweets: https://discord.com/channels/570720951373922304/715987686678200320
      BLUESKY_FEED_CHANNEL_ID: "715987686678200320"

  redis:
    image: redis:7
    restart: unless-stopped
    volumes:
      - ./data/redis:/data
