{{ with secret "deploy/no-time-to-explain" -}}
DATABASE_URL={{ .Data.data.DATABASE_URL }}
DISCORD_TOKEN={{ .Data.data.DISCORD_TOKEN }}
DISCORD_CLIENT_ID={{ .Data.data.DISCORD_CLIENT_ID }}
DISCORD_CLIENT_SECRET={{ .Data.data.DISCORD_CLIENT_SECRET }}
{{ end -}}
