[env]
# Add the NOMAD_TOKEN to this file to make it easier to communicate with Nomad
_.file = '.env'

[tools]
nomad = "1.9.4"
vault = "latest"

[tasks.render-secrets]
description = "Render secrets for Docker Compose services using Vault Agent"
run = "vault agent --config=vault_config.hcl -exit-after-auth"
