[env]
# Add the NOMAD_TOKEN to this file to make it easier to communicate with Nomad
_.file = '.env'
VAULT_ADDR = "https://rnd.vault.0846e66f-a975-4a88-9e46-6dc6267e9b73.aws.hashicorp.cloud:8200"
VAULT_NAMESPACE = "admin"

[tools]
nomad = "1.9.4"
vault = "latest"

[tasks.render-secrets]
description = "Render secrets for Docker Compose services using Vault Agent"
run = "vault agent --config=vault_config.hcl -exit-after-auth"
