name: guess-my-word

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        ARTIFACT: ${ARTIFACT:-https://rnd-public.sfo3.digitaloceanspaces.com/taiidani/guess-my-word/latest.tgz}
    restart: unless-stopped
    command: ["/app/guess-my-word", "--port=3000"]
    ports:
      - 3500:3000
    environment:
      ADDR: "0.0.0.0"
      ORIGIN: "guessmyword.xyz"
      SENTRY_ENVIRONMENT: "prod"
      SENTRY_DSN: "https://acb76cbf7c2ebaad3c9c8fd7766e59e3@o55858.ingest.us.sentry.io/4509922391490560"
      REDIS_ADDR: redis.guess-my-word_default:6379
      REDIS_DB: 1

  redis:
    image: redis:7
    restart: unless-stopped
    volumes:
      - ./data/redis:/data
