{{ with secret "deploy/gitea" -}}
DATABASE_HOST={{ .Data.data.DATABASE_HOST }}
DATABASE_NAME={{ .Data.data.DATABASE_NAME }}
DATABASE_USER={{ .Data.data.DATABASE_USER }}
DATABASE_PASS={{ .Data.data.DATABASE_PASS }}
{{ end -}}
