https://home.taiidani.com {
    forward_auth {{upstreams "authelia" 9091}} {
        uri /api/authz/forward-auth
        copy_headers Remote-User Remote-Groups Remote-Email Remote-Name
    }

    reverse_proxy {{upstreams 3000}} {
        import common_proxy
    }

    log
}
