name: nomad

on:
  workflow_call:
    inputs:
      artifact:
        required: true
        type: string
      jobspec:
        required: true
        type: string
      environment:
        required: false
        type: string
        default: "production"
      url:
        required: false
        type: string
  workflow_dispatch:
    inputs:
      artifact:
        required: true
        type: string
      jobspec:
        required: true
        type: string
      environment:
        required: false
        type: string
        default: "production"
      url:
        required: false
        type: string

jobs:
  nomad:
    runs-on: ubuntu-latest
    environment:
      name: ${{ inputs.environment }}
      url: ${{ inputs.url }}
    concurrency: deployment
    permissions:
      contents: read
      id-token: write # Needed for Vault JWT
    env:
      NOMAD_ADDR: "http://terra:4646"
      NOMAD_HOST: "terra"
    steps:
      - name: vault
        id: vault
        uses: hashicorp/vault-action@v3
        with:
          url: https://rnd.vault.0846e66f-a975-4a88-9e46-6dc6267e9b73.aws.hashicorp.cloud:8200
          role: github-role
          method: jwt
          path: github
          namespace: admin
          jwtGithubAudience: https://github.com/taiidani
          secrets: |
            nomad/creds/deployer secret_id | NOMAD_TOKEN
            credentials/data/github TAILSCALE_OAUTH_CLIENT_ID | TS_OAUTH_CLIENT_ID
            credentials/data/github TAILSCALE_OAUTH_SECRET | TS_OAUTH_SECRET

      - name: Tailscale
        uses: tailscale/github-action@v4
        with:
          oauth-client-id: ${{ steps.vault.outputs.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ steps.vault.outputs.TS_OAUTH_SECRET }}
          tags: tag:ci
          version: latest
          ping: ${{ env.NOMAD_HOST }}

      - name: deploy
        uses: taiidani/deploy-action@main
        env:
          NOMAD_TOKEN: ${{ steps.vault.outputs.NOMAD_TOKEN }}
        with:
          artifact: ${{ inputs.artifact }}
          jobspec: ${{ inputs.jobspec }}
